@model EiSorteei.Models.ProdutoCreateViewModel

@{
    ViewBag.Title = "Cadastrar Produto";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdministrador.cshtml";
}


@using (Html.BeginForm("Create", "Produtos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="display:flex; align-items:center; justify-content:center; margin-top:10px; margin-bottom:20px;">
        <div class="card" style="width:1200px;">

            <div class="card-header">
                <h3>Cadastrar Novo Produto</h3>
            </div>


            <div class="card-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label" })

                    <textarea name="Descricao">@ViewBag.Descricao</textarea>
                    @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Categoria do Produto</label>
                            <select name="CategoriaProduto" class="form-control">
                                @foreach (var categoria in ViewBag.Categorias)
                                {
                                    <option value="@categoria.Id">@categoria.Nome</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.RangeCodigo, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.RangeCodigo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RangeCodigo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
               
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ValorRifa, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.ValorRifa, new { htmlAttributes = new { @class = "form-control", type = "number", min = "0.00", max = "10000.00", step = "0.01",placeholder="Ex: 50,99/50.99" } })
                            @Html.ValidationMessageFor(model => model.ValorRifa, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Data do Sorteio</label>
                            @Html.EditorFor(model => model.DataSorteio, new { htmlAttributes = new { @class = "form-control",placeholder="Ex: 03/12/2020" } })
                            @Html.ValidationMessageFor(model => model.DataSorteio, "", new { @class = "text-danger" })
                            <p class="text-danger">A Data do Sorteio deve ser uma data maior que a de hoje!</p>
                        </div>
                    </div>

                </div>
             
                <div class="form-group">

                    <div class="card">

                        <div class="card-header">
                            <h2>Imagens do Produto</h2>
                            @Html.ValidationMessageFor(model => model.Imagem, "", new { @class = "text-danger" })
                        </div>

                        <div class="card-body">

                            <div id="Imagens" class="form-group">

                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <input type="file" class="form-control" name="Imagem" data-numero="1" onchange="Preview(1)" id="imagem-1"  accept="image/*"/>
                                    </div>

                                    <div class="col-md-6" style="display:flex; flex-direction:row; justify-content:center;">
                                        <img id="previewImg-1" style="height:120px; width:120px; display:none;" />
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <button class="btn btn-success" type="button" id="Adicionar"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="form-group">

                    <div class="card">

                        <div class="card-header">
                            <h2>Vídeo do Produto</h2>
                            @Html.ValidationMessageFor(model => model.Video, "", new { @class = "text-danger" })
                        </div>

                        <div class="card-body">

                            <div class="form-group">

                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <input type="file" class="form-control" name="Video"  accept="video/*"/>
                                    </div>                                  
                                </div>

                            </div>
                           
                        </div>

                    </div>

                </div>

               

            </div>

            <div class="card-footer">
                <div class="form-group">
                    <button class="btn btn-success">Cadastrar</button>
                </div>
            </div>

        </div>
    </div>

}

<script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
@section Scripts{

    <script>
        CKEDITOR.replace('Descricao');
        $("#DataSorteio").mask("00/00/0000");

        let QuantidadeImagens = 1;

        function Preview(numero) {

            var file = $("#imagem-" + numero).get(0).files[0];

            if (file) {
                var reader = new FileReader();

                reader.onload = function () {
                    $("#previewImg-" + numero).attr("src", reader.result);
                    $("#previewImg-" + numero).css("display", "block");
                }

                reader.readAsDataURL(file);
            }
        }

        $("#Adicionar").click(function () {
            QuantidadeImagens++;

            $("#Imagens").append(

                "<div class='form-group row' id='GrupoImagem-" + QuantidadeImagens + "'>" +
                "<div class='col-md-6'><input type='file' class='form-control' name='Imagem' data-numero='" + QuantidadeImagens + "' onchange='Preview(" + QuantidadeImagens + ")' id='imagem-" + QuantidadeImagens + "'  accept='image/*'/>" +
                "<button class='btn btn-danger' style='margin-top:5px;' type='button' onclick='ExcluirImagem(" + QuantidadeImagens + ")'><i class='fa fa-trash'></i></button>" +
                "</div>" +
                "<div class='col-md-6' style='display: flex; flex-direction:row; justify-content: center;'><img id='previewImg-" + QuantidadeImagens + "' style='height:120px; width:120px; display:none;'/></div>" +
                "</div>"

            );

        });

        function ExcluirImagem(numero) {

            $("#GrupoImagem-" + numero).remove();

        }

    </script>

}