@model EiSorteei.Models.ProdutoCreateViewModel

@{
    ViewBag.Title = "Cadastrar Produto";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdministrador.cshtml";
}

@using (Html.BeginForm())
{
    <div style="display:flex; align-items:center; justify-content:center; margin-top:50px;">
        <div class="card" style="width:1200px;">

            <div class="card-header">
                <h3>Cadastrar Novo Produto</h3>
            </div>


            <div class="card-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RangeCodigo, htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.RangeCodigo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RangeCodigo, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ValorRifa, htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.ValorRifa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ValorRifa, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    <button class="btn btn-success">Cadastrar</button>
                </div>

            </div>

        </div>
    </div>

}