
@{
    EiSorteei.Data.Usuario Usuario = (EiSorteei.Data.Usuario)@Session["Usuario"];
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EiSorteei</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="shortcut icon"
          href="~/Imagens/favicon.ico"
          type="image/x-icon" />
    <style>
        body {
            background: #1F1F1F;
        }

        .navbar {
            font-size: 18px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding-bottom: 10px;
            background: #000000;
            min-height: 100px;
        }

        .main-nav {
            list-style-type: none;
            display: none;
        }

        .nav-links,
        .logo {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.7);
        }

        .main-nav li {
            text-align: center;
            margin: 15px auto;
            margin-top: 20px;
        }

        .logo {
            display: inline-block;
            font-size: 22px;
            margin-top: 10px;
            margin-left: 20px;
        }

        .navbar-toggle {
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.8);
            font-size: 24px;
        }

        .active {
            display: block;
        }

        @@media screen and (min-width: 768px) {

            .navbar {
                display: flex;
                justify-content: space-between;
                padding-bottom: 0;
                height: 70px;
                align-items: center;
            }

            .main-nav {
                display: flex;
                margin-right: 30px;
                flex-direction: row;
                justify-content: flex-end;
            }

                .main-nav li {
                    margin: 0;
                }

            .nav-links {
                margin-left: 40px;
            }

            .logo {
                margin-top: 0;
            }

            .navbar-toggle {
                display: none;
            }

            .logo:hover,
            .nav-links:hover {
                color: rgba(255, 255, 255, 1);
            }



            .dropbtn {
                background-color: #4CAF50;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
            }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                right: 0;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

                .dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }

                    .dropdown-content a:hover {
                        background-color: #f1f1f1;
                    }

            .dropdown:hover .dropdown-content {
                display: block;
            }

            .dropdown:hover .dropbtn {
                background-color: #3e8e41;
            }
        }

        @@media only screen and (max-width: 1000px) {
            #dropdown {
                background: #000000 !important;
                position: inherit !important;
            }

                #dropdown ul li a {
                    color: #fff !important;
                }
        }
    </style>
</head>

<body>

    <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fa fa-bars"></i>
        </span>
        <ul class="main-nav" id="js-menu">
            <li>
                <a href="@Url.Action("Index","DashBoard")">
                    <img src="~/Imagens/Cópia de Logo Verde e Branco de Curso Preparatório (1).png" alt="Logo do Site" id="brand" style="width:80%;" />
                </a>
            </li>
            <li style="margin-top:30px;">
                <a class="nav-link" href="@Url.Action("Index","Produtos")" style="color:white;">Prêmios</a>
            </li>
            @if (Session["Permissao"].ToString() == "Administrador")
            {
                <li style="margin-top:30px;">
                    <a class="nav-link" href="@Url.Action("Index", "CategoriasProdutos")" style="color:white;">Categorias de Produto</a>
                </li>
                <li style="margin-top:30px;">
                    <a class="nav-link" href="@Url.Action("Index","OrderBump")" style="color:white;">Order Bumps</a>
                </li>
            }
            else
            {
                <li style="margin-top:30px;">
                    <a class="nav-link" href="@Url.Action("MinhasVendas","Vendedor")" style="color:white;">Minhas Vendas</a>
                </li>
            }
            <li style="margin-top:30px;">
                <span class="nav-link" style="color:white; cursor:pointer;" id="MeuPerfil">@Usuario.Nome <i class="fa fa-caret-down"></i></span>
                <div id="dropdown" style="display: none;background: #000000;padding: 9px;border-radius: 10px;margin-top: 10px; z-index:1; position:fixed;">
                    <ul style="list-style-type: none;">
                        <li style="margin-top:30px;">
                            <a class="nav-link" href="@Url.Action("Logout","Login")" style="color:white;">Sair</a>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>

    </nav>


    <div class="container body-content">
        @RenderBody()

        <div id="myModal2" class="modal">

            <div class="modal-content" style=" width: 90%; justify-content: flex-start; height: 109%; margin-top: -90px;">
                <i class="fa fa-times" style="float:right; align-self:flex-end; cursor:pointer;" id="Fechar"></i>

                <h2 class="text-center">Order Bumps</h2>
                <div id="Orders" class="row">

                </div>
            </div>

        </div>

    </div>

    <script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
    <script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>

        $(document).ready(function () {

            $("#Fechar").click(function () {
                $("#myModal2").css("display", "none");
            });

            let mainNav = document.getElementById('js-menu');
            let navBarToggle = document.getElementById('js-navbar-toggle');

            navBarToggle.addEventListener('click', function () {
                mainNav.classList.toggle('active');
            });

            $("#MeuPerfil").click(function () {
                $("#dropdown").toggle();
            });

        })

    </script>

</body>
</html>