<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EiSorteei</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <style>
        body {
            background: #1F1F1F;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-dark" style="color:white;">


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index","Produtos")" style="color:white;">Prêmios</a>
                </li>

                @if (Session["Permissao"].ToString() == "Administrador")
                {
                    <li class="navbar-nav mr-auto">
                        <a class="nav-link" href="@Url.Action("Index","CategoriasProdutos")" style="color:white;">Categorias de Produto</a>
                    </li>
                }

                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index","OrderBump")" style="color:white;">Order Bumps</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a style="color:white;" href="@Url.Action("Logout","Login")">Sair</a>
            </form>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

        <div id="myModal2" class="modal">

            <div class="modal-content" style=" width: 90%; justify-content: flex-start; height: 109%; margin-top: -90px;">
                <i class="fa fa-times" style="float:right; align-self:flex-end; cursor:pointer;" id="Fechar"></i>               

                <h2 class="text-center">Order Bumps</h2>
                <div id="Orders" class="row">                    

                </div>
            </div>

        </div>

    </div>

    <script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
    <script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>

        $(document).ready(function () {

            $("#Fechar").click(function () {
                $("#myModal2").css("display", "none");
            });

        })

    </script>

</body>
</html>