@model EiSorteei.Models.LoginViewModel


<style>

    body {
        background-color: #1f1f1f;
    }

    #Login {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #box_login {
        margin: 200px 0;
        width: 400px;
        height: 520px;
        background-color: #fff;
        border-radius: 20px;
    }

    #BtnLogin {
        background-color: #E0C777;
        border: none;
        color: #fff;
        width: 100px;
        height: 50px;
        border-radius: 20px;
        font-size: 20px;
        transition: all .3s ease-in-out;
    }

        #BtnLogin:hover {
            background-color: #F2CB4C;
        }
</style>

<div class="container body-content">
    @using (Html.BeginForm("Index", "Usuario"))
    {
        @Html.AntiForgeryToken()
        <section id="Login">

            <div class="card" id="box_login">

                <div class="card-header">
                    <h2 class="text-center">Login</h2>
                </div>

                <div class="card-body">
                    <input value="@ViewBag.Produto" name="IdProduto" style="display:none;" />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group text-center">
                        <button id="BtnLogin">Entrar</button>
                    </div>

                    <div class="form-group text-center">
                        Ainda não é usuário? <a href="@Url.Action("CadastrarUsuario","Usuario",new { IdProduto=ViewBag.Produto})">Clique aqui</a>
                    </div>
                </div>

            </div>

        </section>
    }
</div>

