@model EiSorteei.Data.Usuario

@{
    ViewBag.Title = "Meu Perfil";
    Layout = "~/Views/Shared/_LayoutComprar.cshtml";
}

<body>


    <style>

        body {
            background-color: #1f1f1f;
        }

        #Login {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #box_login {
            margin: 200px 0;
            width: 400px;
            height: 520px;
            background-color: #fff;
            border-radius: 20px;
        }

        #BtnLogin {
            background-color: #E0C777;
            border: none;
            color: #fff;
            width: 100px;
            height: 50px;
            border-radius: 20px;
            font-size: 20px;
            transition: all .3s ease-in-out;
        }

            #BtnLogin:hover {
                background-color: #F2CB4C;
            }
    </style>

    <div class="container body-content">

        @using (Html.BeginForm("MeuPerfil", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(u => u.Status)
            @Html.HiddenFor(u => u.Email)
            @Html.HiddenFor(u => u.DataCadastro)
            @Html.HiddenFor(u => u.DataAtualizacao)
            @Html.HiddenFor(u => u.Senha)
            @Html.HiddenFor(u => u.Id)
            @Html.HiddenFor(u=>u.UserImage)

            <div style="display:flex; align-items:center; justify-content:center; margin-top:50px;">
                <div class="card" style="width:1200px;">

                    <div class="card-header">
                        <h3>Meu Perfil</h3>
                    </div>

                    <div class="card-body">

                        <div class="row">

                            <input value="@ViewBag.Produto" name="IdProduto" style="display:none;" />

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Imagem de Usuário</label>
                                    <input type="file" class="form-control" name="foto" placeholder="Selecione uma foto de Usuário" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SobreNome, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.SobreNome, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SobreNome, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Cpf, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label" })

                                    <select name="Estado" class="form-control">

                                        @foreach (var estado in ViewBag.Estados)
                                        {
                                            <option value="@estado.Name" @(Model.Estado == estado.Name ? "selected" : "")>@estado.Name</option>
                                        }

                                    </select>

                                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CEP, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CEP, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CEP, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Rua, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Rua, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Rua, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="card-footer">

                        <div class="form-group">

                            <button class="btn btn-success">Atualizar Meus Dados</button>

                        </div>

                    </div>


                </div>
            </div>
        }

        @Scripts.Render("~/bundles/jquery")
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>

        <script>


            $("#Cpf").mask("000.000.000-00");
            $("#CEP").mask("00000-000");
            $("#Telefone").mask("(00) 00000-0000");


        </script>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>