@model IEnumerable<EiSorteei.Data.Vendedor>

@{
    ViewBag.Title = "Todos Vendedores";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdministrador.cshtml";
}

<div style="display:flex; align-items:center; justify-content:center;">
    <div class="card" style="width:1200px;">

        <div class="card-header">
            <h3 class="text-center">Vendedores Cadastrados</h3>
        </div>


        <div class="card-body">

            @if (Model.Count() > 0)
            {
                <table class="table table-bordered table-hover text-center">
                    <thead>
                        <tr>
                            <th>
                                Nome do Vendedor
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Código
                            </th>
                            <th>
                                Data de Cadastro
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var produto in Model)
                        {
                            <tr id="Premio-@produto.Id">
                                <td>@produto.Usuario.Nome @produto.Usuario.SobreNome</td>
                                <td>@produto.Usuario.Email</td>
                                <td>@produto.Codigo</td>
                                <td>@produto.DataCadastro.Date.Day/@produto.DataCadastro.Date.Month/@produto.DataCadastro.Date.Year</td>

                            </tr>

                        }
                    </tbody>
                </table>
            }

            else
            {
                <h2 class="text-center">Não foi encontrado nenhum Vendedor Cadastrado...</h2>
            }


        </div>

    </div>
</div>
