@model EiSorteei.Data.Produto

@{
    ViewBag.Title = "EiSorteei";
    Layout = "~/Views/Shared/_LayoutComprar.cshtml";

    List<string> Comprados = ViewBag.Comprados;
    var Usuario = ViewBag.Usuario;
}

<style>
    body {
        background: #1F1F1F;
    }

    #Rifas {
        width: 100%;
        justify-content: center;
        margin: auto;
    }

    .NumeroRifa {
        background-color: #E0C777;
        width: 6%;
        color: #fff;
        margin: 5px;
        font-size: 28px;
        text-align: center;
        border-radius: 20px;
        transition: all .3s ease-in-out;
        cursor: pointer;
    }

        .NumeroRifa:hover {
            background-color: #1F1F1F;
        }

    .carousel {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .informacoes {
        color: #fff;
        width: 90%;
        margin: auto;
    }

    #Arrows {
        margin-bottom: 10px;
    }

    #next, #prev {
        background-color: #E0C777;
        border-radius: 50%;
        padding: 10px 16px 10px 16px;
        margin: 10px;
        cursor: pointer;
    }

    .ErroComprar {
        color: red;
        display: none;
    }

    @@media only screen and (max-width: 1000px) {
        .imagem_produto {
            width: 100% !important;
        }

        .NumeroRifa {
            width: 16%;
            font-size: 17px;
        }
    }

    .box_premio {
        background-color: #535151;
        padding: 10px;
        border-radius: 24px;
        margin-bottom: 10px;
    }

    .btn-default {
        background-color: #535151;
        border: none;
        color: white;
    }
</style>


<section class="blog-container" style="padding-bottom:0;">
    <div class="center">
        <div class="upper-box">
            <h1>Escolha os números dos seus Bilhetes e boa sorte</h1>
        </div>
    </div>
</section>

<section>

    @if (Model.Video != null)
    {
        <div class="form-group" style="margin-top:20px;" align="center">
            <button class="btn btn-default" id="btnImagens" style="background-color: #E0C777; margin-top:10px;"><i class="fas fa-images"></i> Imagens</button>
            <button class="btn btn-default" id="btnVideo" style="margin-top: 10px;"><i class="fas fa-video"></i> Vídeo</button>
        </div>
    }

        <div class="carousel form-group" align="center" style="margin-top:20px;" id="Imagens">

            @foreach (var x in ViewBag.Imagens)
            {
                <div><img src="~/Content/ImagemProdutos/@x.Caminho" alt="Imagem do Produto" style="width:30%;" class="imagem_produto" /></div>
            }

        </div>

        @if (Model.Video != null)
        {
            <div class="form-group" align="center" style="margin-top:20px; display:none;" id="Video">
                <div align="center" class="form-group">
                    <video controls style="width:70%;">
                        <source src="~/Content/VideoProdutos/@Model.Video" type="video/mp4">
                    </video>
                </div>
            </div>
        }



    </section>

<div class="informacoes">

    <div align="center" id="Arrows">
        <i class="fas fa-chevron-left fa-2x" id="prev"></i>
        <i class="fas fa-chevron-right fa-2x" id="next"></i>
    </div>

    <h5 align="center">Informações Importante</h5>
    <p align="center">Confira abaixo as formas de pagamento, regras, contatos e tudo sobre o sorteio</p>

    <div class="form-group text-center">
        <button class="btn btn-default" id="btnInformacoes" style="background-color: #E0C777; margin-top:10px;"><i class="fas fa-info"></i> Informações do Item</button>
        <button class="btn btn-default" id="btnDadosPagamento" style="margin-top: 10px;"><i class="fas fa-search-dollar"></i> Dados de Pagamento</button>
        <button class="btn btn-default" id="btnRegulamento" style="margin-top: 10px;"><i class="fas fa-cogs"></i> Regulamento/Descrição</button>
        <button class="btn btn-default" id="btnContato" style="margin-top: 10px;"><i class="fas fa-envelope"></i> Contato</button>
    </div>

    <div id="DadosPagamento" class="box_premio" style="display:none;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut nisl non ligula auctor faucibus. Vestibulum ante ipsum primis in
        faucibus orci luctus et ultrices posuere cubilia curae; Morbi vitae turpis at purus viverra finibus. Sed suscipit orci lacus, in volutpat sapien
        tincidunt ut. In hac habitasse platea dictumst. Aliquam laoreet aliquet odio, vel finibus risus. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Fusce tincidunt leo in tortor fringilla, sed pretium lorem sodales. Nam finibus volutpat mattis. Morbi gravida at justo vitae pulvinar.
        Vivamus sed leo sed quam mattis euismod sit amet non velit.
    </div>

    <div id="Regulamento" style="display:none;" class="box_premio">
        <div style="margin-left:30px;">
            @Html.Raw(Model.Descricao)
        </div>

    </div>

    <div id="InformacoesItem" class="box_premio row text-center">
        <div class="col-md-12 text-center form-group">
            <h3><i class="fas fa-trophy"></i> Prêmio: @Model.Nome</h3>
            <h4><i class="fas fa-tags"></i> Categoria: @ViewBag.Categoria</h4>
        </div>
        <div class="col-md-4 form-group">
            <strong>Valor Unitário: R$ @Math.Round(Model.ValorRifa, 2)</strong>
        </div>
        <div class="col-md-4 form-group">
            <strong>Total: @Model.RangeCodigo</strong>
        </div>
        <div class="col-md-4 form-group">
            <strong><i class="fas fa-hourglass-start"></i> Reservados: 6</strong>
        </div>

        <div class="col-md-4 form-group">
            <strong><i class="fas fa-calendar"></i> Data do Sorteio: @Model.DataSorteio.ToString().Replace(" 00:00:00", string.Empty)</strong>
        </div>

        <div class="col-md-4 form-group">
            <strong><i class="fas fa-map-marker-alt"></i> Cidade: @Usuario.Cidade</strong>
        </div>

        <div class="col-md-4 form-group">
            <strong><i class="far fa-map"></i> Estado: @Usuario.Estado</strong>
        </div>

    </div>

    <div id="Contato" style="display:none;" class="box_premio text-center">

        <p><i class="fas fa-envelope"></i> <strong>Email: @Usuario.Email</strong></p>

        <p><i class="fas fa-phone"></i> <strong>Telefone: @Usuario.Telefone</strong></p>

    </div>

    <div id="Rifas" class="row">

        @for (int x = 1; x <= Model.RangeCodigo; x++)
        {
            if (Session["Usuario"] != null)
            {
                <span class="NumeroRifa @(Comprados.Contains(x.ToString())?"":"Comprar")" data-numero="@x" style="@(Comprados.Contains(x.ToString())?"background-color:red;":"")">@x</span>
            }

            else
            {
                <a class="NumeroRifa" data-numero="@x" href="@Url.Action("Index","Usuario",new { IdProduto = Model.Id})" style="text-decoration:none; color:white; @(Comprados.Contains(x.ToString())?"background-color:red;":"")">@x</a>
            }

        }

    </div>
</div>


@section Scripts{

    <script>

        $(document).ready(function () {

            let Rifas = [];
            let ValorRifa = "@Math.Round(Model.ValorRifa, 2)";
            $("#ValorRifa").text(ValorRifa);
            $("#QuantidadeTotal").text(Rifas.length);


            $("#DataCartao").mask("00/00");
            $("#CPFCartao").mask("000.000.000-00");

            $('.carousel').slick({
                autoplay: true,
                autoplaySpeed: 2000,
                nextArrow: '#next',
                prevArrow: '#prev'
            });


            $(".Comprar").click(function () {
                let numero = $(this);
                let background = $(this).css("background-color");

                if (background == "rgb(37, 202, 23)") {
                    $(this).css("background-color", "#E0C777");

                    Rifas = Rifas.filter(item => item !== numero[0].outerText);

                    $("#RifasEscolhidas").html("");

                    for (var i = 0; i < Rifas.length ; i++) {

                        $("#RifasEscolhidas").append(
                            "<div id='RifaEscolhida' class='col-md-1 form-group'>" +
                                Rifas[i] +
                            "</div>"
                        );

                    }

                    if (Rifas.length == 0) {
                        $("#Quantidade").slideUp(200);
                    }

                    if (Rifas.length <= 24) {
                        $("#Quantidade").css("height", "106")
                    }

                    if (Rifas.length > 24) {
                        $("#Quantidade").css("height", "160")
                    }

                }

                else {
                    $(this).css("background-color", "#25CA17");
                    Rifas.push(numero[0].outerText);

                    if (Rifas.length < 24) {
                        $("#Quantidade").css("height", "106")
                    }

                    if (Rifas.length > 24) {
                        $("#Quantidade").css("height","160")
                    }


                    $("#Quantidade").slideDown(200);

                    $("#RifasEscolhidas").append(
                        "<div id='RifaEscolhida' class='col-md-1 form-group'>" +
                            numero[0].outerText +
                        "</div>"
                    );

                }

                $("#QuantidadeTotal").text(Rifas.length);
                let ValorFormatado = String((Rifas.length * Number(ValorRifa.replace(",", "."))).toFixed(2)).replace(".", ",");
                $("#ValorTotal").text(ValorFormatado.replace(".",","));
                $("#ValorFinal").text(ValorFormatado.replace(".",","));

            });

            $("#Fechar").click(function () {
                $("#myModal2").css('display', "none");
            });

            $("#AbrirModal").click(function () {

                $("#RifasSelecionadas").html("");
                for (var i = 0; i < Rifas.length; i++) {

                    if (i == 0) {
                        $("#RifasSelecionadas").append(
                            Rifas[i]
                        );
                    }

                    else {
                        $("#RifasSelecionadas").append(
                            ", "+Rifas[i]
                        );
                    }

                }


                $("#myModal2").css('display', "block");



                //let erro = false;

                //let Numero = $("#NumeroCartao").val();
                //let Titulo = $("#TituloCartao").val();
                //let Data = $("#DataCartao").val();
                //let CVV = $("#CVVCartao").val();
                //let CPF = $("#CPFCartao").val();
                //let CodigoVendedor = $("#CodigoVendedor").val();

                //if (!Numero) {
                //    $("#ErroNumero").css("display", "block");
                //    erro = true;
                //}

                //else {
                //    $("#ErroNumero").css("display", "none");
                //}


                //if (!Titulo) {
                //    $("#ErroTitulo").css("display", "block");
                //    erro = true;
                //}

                //else {
                //    $("#ErroTitulo").css("display", "none");
                //}


                //if (!Data) {
                //    $("#ErroData").css("display", "block");
                //    erro = true;
                //}

                //else {
                //    $("#ErroData").css("display", "none");
                //}

                //if (!CVV) {
                //    $("#ErroCVV").css("display", "block");
                //    erro = true;
                //}

                //else {
                //    $("#ErroCVV").css("display", "none");
                //}

                //if (!CPF) {
                //    $("#ErroCPF").css("display", "block");
                //}

                //else {
                //    $("#ErroCPF").css("display", "none");
                //}


                //if (!erro) {


                //    window.open("https://ei-sorteei.oncartx.io/checkout/3411574:" + Rifas.length + "&checkout=buy_button", "_blank");


                    @*let DataFormatada = Data.split("/");
                    let CPFFormatado = CPF.replace(".", "").replace(".", "").replace("-", "");

                    let MesCartao = DataFormatada[0];
                    let AnoCartao = DataFormatada[1];

                    window.Mercadopago.setPublishableKey("APP_USR-4f22958e-cccd-49ac-b52d-02ae9b9697a9");
                    window.Mercadopago.getIdentificationTypes();

                    let DadosCartao = {

                        cardNumber: Numero,
                        cardExpirationMonth: MesCartao,
                        cardExpirationYear: AnoCartao,
                        securityCode: CVV,
                        cardholderName: Titulo,
                        docType: "CPF",
                        docNumber: CPFFormatado

                    };


                    var hash = window.Mercadopago.createToken(DadosCartao, setCardTokenAndPay);

                    function setCardTokenAndPay(status, response) {
                        if (status == 200 || status == 201) {

                            let IdProduto = "@Model.Id";

                            let Usuario = "";

                            $.ajax({
                                url: "@Url.Action("GetDadosUsuario", "Comprar")",
                                method: "POST",
                                data: { IdProduto: IdProduto },
                                success: function (retorno) {
                                    Usuario = retorno;
                                },
                                complete: function () {

                                    let CodigoCartao = response.id;

                                    let Telefone = Usuario.Telefone;
                                    Telefone = Telefone.replace("(", "").replace(')', "");
                                    let TelefoneFormatado = Telefone.split(" ");

                                    let dados = JSON.stringify({
                                        token: CodigoCartao,
                                        installments: 1,
                                        transaction_amount: Usuario.ValorRifa,
                                        description: "Bilhete EiSorteei - " + Usuario.NomeProduto,
                                        payment_method_id: "visa",
                                        payer: {
                                            email: Usuario.Email,
                                            identification: {
                                                number: CPFFormatado,
                                                type: "CPF"
                                            }
                                        },
                                        notification_url: "https://www.suaurl.com/notificacoes/",
                                        sponsor_id: null,
                                        binary_mode: false,
                                        external_reference: "Bilhete " + Usuario.IdProduto,
                                        statement_descriptor: "Bilhete EiSorteei",
                                        additional_info: {
                                            items: [
                                                {
                                                    id: "PR0001",
                                                    title: "Bilhete EiSorteei - Código do Produto: " + Usuario.IdProduto,
                                                    description: "Bilhete EiSorteei",
                                                    picture_url: "https://http2.mlstatic.com/resources/frontend/statics/growth-sellers-landings/device-mlb-point-i_medium@2x.png",
                                                    category_id: "Bilhete",
                                                    quantity: 1,
                                                    unit_price: Usuario.ValorRifa
                                                }
                                            ],
                                            payer: {
                                                first_name: Usuario.Nome,
                                                last_name: Usuario.SobreNome,
                                                address: {
                                                    zip_code: Usuario.CEP,
                                                    street_name: Usuario.Rua,
                                                    street_number: Usuario.Numero
                                                },
                                                registration_date: Usuario.DataCadastro,
                                                phone: {
                                                    area_code: TelefoneFormatado[0],
                                                    number: TelefoneFormatado[1]
                                                }
                                            },
                                            shipments: {
                                                receiver_address: {
                                                    street_name: "Av. Alberane Cunha",
                                                    street_number: 81,
                                                    zip_code: "37350000",
                                                    city_name: "Liberdade",
                                                    state_name: "Minas Gerais"
                                                }
                                            }
                                        }
                                    });

                                    $.ajax({
                                        url: "https://api.mercadopago.com/v1/payments",
                                        method: 'POST',
                                        beforeSend: function (xhr) {
                                            xhr.setRequestHeader('Authorization', 'Bearer APP_USR-5017428128263404-072015-ddd04542ab6288891aebac5789addf33-247787081');
                                        },
                                        data: dados,
                                        success: function (retorno) {

                                            if (retorno.status == "approved" || retorno.status == "in_process") {

                                                let NumeroRifa = $("#NumeroRifa").text();

                                                $.ajax({
                                                    url: "@Url.Action("RegistrarCompra","Comprar")",
                                                    method: "POST",
                                                    data: { IdProduto: Usuario.IdProduto, CodigoVendedor: CodigoVendedor, IdCompra: retorno.id, NumeroRifa: NumeroRifa },
                                                    success: function (data) {
                                                        if (data.Status) {

                                                            if (retorno.status == "approved") {
                                                                Swal.fire({
                                                                    title: 'Pagamento Efetuado',
                                                                    text: "Seu pagamento foi aceito, obrigado pela sua compra fique atento para a data do sorteio e boa sorte.",
                                                                    icon: 'success',
                                                                    showCancelButton: false,
                                                                    confirmButtonColor: '#3085d6',
                                                                    cancelButtonColor: '#d33',
                                                                    cancelButtonText: 'Não',
                                                                    confirmButtonText: 'OK'
                                                                });
                                                            }

                                                            if (retorno.status == "in_process") {
                                                                Swal.fire({
                                                                    title: 'Pagamento em Análise',
                                                                    text: "Seu pagamento está sendo analisado, quando seu pagamento for aprovado você receberá um email confirmando seu pagamento.",
                                                                    icon: 'success',
                                                                    showCancelButton: false,
                                                                    confirmButtonColor: '#3085d6',
                                                                    cancelButtonColor: '#d33',
                                                                    cancelButtonText: 'Não',
                                                                    confirmButtonText: 'OK'
                                                                });
                                                            }

                                                            $("#myModal2").css('display', "none");
                                                        }
                                                    }
                                                });
                                            }

                                            else {
                                                Swal.fire({
                                                    title: 'Pagamento não efetuado',
                                                    text: "Seu pagamento não foi aceito, entre em contato com o distribuinte do seu cartão e tente novamente mais tarde.",
                                                    icon: 'error',
                                                    showCancelButton: false,
                                                    confirmButtonColor: '#3085d6',
                                                    cancelButtonColor: '#d33',
                                                    cancelButtonText: 'Não',
                                                    confirmButtonText: 'OK'
                                                });
                                            }
                                        },
                                        error: function (retorno) {
                                            Swal.fire({
                                                title: 'Cartão Inválido',
                                                text: "Os dados do cartão informado não são inválidos, por favor verifique seus dados e tente novamente!",
                                                icon: 'error',
                                                showCancelButton: false,
                                                confirmButtonColor: '#3085d6',
                                                cancelButtonColor: '#d33',
                                                cancelButtonText: 'Não',
                                                confirmButtonText: 'OK'
                                            });
                                        }
                                    });


                                }
                            });

                        }

                        else {
                            Swal.fire({
                                title: 'Cartão Inválido',
                                text: "Os dados do cartão informado não são inválidos, por favor verifique seus dados e tente novamente!",
                                icon: 'error',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                cancelButtonText: 'Não',
                                confirmButtonText: 'OK'
                            });
                        }
                    };*@
                //}

            });


            $("#EfetuarPagamento").click(function () {

                window.open("https://ei-sorteei.oncartx.io/checkout/3411574:" + Rifas.length + "&checkout=buy_button", "_blank");

            });

            $("#btnDadosPagamento").click(function () {

                $(this).css("background-color", "#E0C777");
                $("#btnRegulamento").css("background-color", "#535151");
                $("#btnInformacoes").css("background-color", "#535151");
                $("#btnContato").css("background-color", "#535151");


                $("#DadosPagamento").slideDown(200);
                $("#Regulamento").slideUp(200);
                $("#InformacoesItem").slideUp(200);
                $("#Contato").slideUp(200);

            });

            $("#btnRegulamento").click(function () {

                $(this).css("background-color", "#E0C777");
                $("#btnDadosPagamento").css("background-color", "#535151");
                $("#btnInformacoes").css("background-color", "#535151");
                $("#btnContato").css("background-color", "#535151");

                $("#DadosPagamento").slideUp(200);
                $("#Regulamento").slideDown(200);
                $("#InformacoesItem").slideUp(200);
                $("#Contato").slideUp(200);

            });

            $("#btnInformacoes").click(function () {

                $(this).css("background-color", "#E0C777");
                $("#btnRegulamento").css("background-color", "#535151");
                $("#btnDadosPagamento").css("background-color", "#535151");
                $("#btnContato").css("background-color", "#535151");

                $("#DadosPagamento").slideUp(200);
                $("#Regulamento").slideUp(200);
                $("#InformacoesItem").slideDown(200);
                $("#Contato").slideUp(200);

            });

            $("#btnContato").click(function () {

                $(this).css("background-color", "#E0C777");
                $("#btnRegulamento").css("background-color", "#535151");
                $("#btnInformacoes").css("background-color", "#535151");
                $("#btnDadosPagamento").css("background-color", "#535151");

                $("#DadosPagamento").slideUp(200);
                $("#Regulamento").slideUp(200);
                $("#InformacoesItem").slideUp(200);
                $("#Contato").slideDown(200);

            });


            $("#btnImagens").click(function () {
                $(this).css("background-color", "#E0C777");
                $("#btnVideo").css("background-color", "#535151");
                $("#Imagens").css("display", "block");
                $("#next").trigger("click");
                $("#Arrows").css("display", "block");
                $("#Video").css("display", "none");

            });

            $("#btnVideo").click(function () {
                $(this).css("background-color", "#E0C777");
                $("#btnImagens").css("background-color", "#535151");
                $("#Video").css("display", "block");
                $("#Imagens").css("display", "none");
                $("#Arrows").css("display", "none");
            });

        });





    </script>

}
