@model EiSorteei.Data.Produto

@{
    ViewBag.Title = "EiSorteei";
    Layout = "~/Views/Shared/_LayoutComprar.cshtml";
}

<style>
    body {
        background: #1F1F1F;
    }

    #Rifas {
        width: 100%;
        justify-content: center;
        margin: auto;
    }

    .NumeroRifa {
        background-color: #E0C777;
        width: 14%;
        color: #fff;
        margin: 5px;
        font-size: 28px;
        text-align: center;
        border-radius: 20px;
        transition: all .3s ease-in-out;
        cursor: pointer;
    }

        .NumeroRifa:hover {
            background-color: #1F1F1F;
        }

    .carousel {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .informacoes {
        color: #fff;
        width: 60%;
        margin: auto;
    }

    #Arrows {
        margin-bottom: 10px;
    }

    #next, #prev {
        background-color: #E0C777;
        border-radius: 50%;
        padding: 10px 16px 10px 16px;
        margin: 10px;
        cursor: pointer;
    }

    .ErroComprar {
        color: red;
        display: none;
    }

    @@media only screen and (max-width: 1000px) {
        .imagem_produto {
            width: 100% !important;
        }

        .NumeroRifa {
            width: 12%;
            font-size: 14px;
        }
    }
</style>


<section class="blog-container" style="padding-bottom:0;">
    <div class="center">
        <div class="upper-box">
            <h1>Escolha o número da sua Rifa</h1>
        </div>
    </div>
</section>

<section>
    <div class="carousel" align="center">

        @foreach (var x in ViewBag.Imagens)
        {
            <div><img src="~/Content/ImagemProdutos/@x.Caminho" alt="Imagem do Produto" style="width:30%;" class="imagem_produto" /></div>
        }

    </div>


</section>

<div class="informacoes">

    <div align="center" id="Arrows">
        <i class="fas fa-chevron-left fa-2x" id="prev"></i>
        <i class="fas fa-chevron-right fa-2x" id="next"></i>
    </div>

    <h3 align="center">@Model.Nome</h3>
    <p>@Html.Raw(Model.Descricao)</p>
    <h3 align="center">Valor da Rifa: R$ @Math.Round(Model.ValorRifa, 2)</h3>

    <div id="Rifas" class="row">

        @for (int x = 1; x <= Model.RangeCodigo; x++)
        {
            if (Session["Usuario"] != null)
            {
                <span class="NumeroRifa Comprar" data-numero="@x">@x</span>
            }

            else
            {
                <a class="NumeroRifa" data-numero="@x" href="@Url.Action("Index","Usuario")" style="text-decoration:none; color:white;">@x</a>
            }

        }

    </div>
</div>


@section Scripts{

    <script>

        $(document).ready(function () {

            $("#DataCartao").mask("00/00");
            $("#CPFCartao").mask("000.000.000-00");

            $('.carousel').slick({
                autoplay: true,
                autoplaySpeed: 2000,
                nextArrow: '#next',
                prevArrow: '#prev'
            });


            $(".Comprar").click(function () {

                let Numero = $(this).attr("data-numero");
                $("#NumeroRifa").text(Numero);

                $("#ErroNumero").css("display", "none");
                $("#ErroTitulo").css("display", "none");
                $("#ErroData").css("display", "none");
                $("#ErroCVV").css("display", "none");
                $("#ErroCPF").css("display", "none");
                $("#ErroComprador").css("display", "none");

                $("#NumeroCartao").val("");
                $("#TituloCartao").val("");
                $("#DataCartao").val("");
                $("#CVVCartao").val("");
                $("#CPFCartao").val("");
                $("#CodigoVendedor").val("");

                $("#myModal2").css('display', "block");

            });

            $("#Fechar").click(function () {
                $("#myModal2").css('display', "none");
            });

            $("#EfetuarCompra").click(function () {

                let erro = false;

                let Numero = $("#NumeroCartao").val();
                let Titulo = $("#TituloCartao").val();
                let Data = $("#DataCartao").val();
                let CVV = $("#CVVCartao").val();
                let CPF = $("#CPFCartao").val();

                if (!Numero) {
                    $("#ErroNumero").css("display", "block");
                    erro = true;
                }

                else {
                    $("#ErroNumero").css("display", "none");
                }


                if (!Titulo) {
                    $("#ErroTitulo").css("display", "block");
                    erro = true;
                }

                else {
                    $("#ErroTitulo").css("display", "none");
                }


                if (!Data) {
                    $("#ErroData").css("display", "block");
                    erro = true;
                }

                else {
                    $("#ErroData").css("display", "none");
                }

                if (!CVV) {
                    $("#ErroCVV").css("display", "block");
                    erro = true;
                }

                else {
                    $("#ErroCVV").css("display", "none");
                }

                if (!CPF) {
                    $("#ErroCPF").css("display", "block");
                }

                else {
                    $("#ErroCPF").css("display", "none");
                }


                if (!erro) {

                    let DataFormatada = Data.split("/");
                    let CPFFormatado = CPF.replace(".", "").replace(".", "").replace("-", "");

                    let MesCartao = DataFormatada[0];
                    let AnoCartao = DataFormatada[1];

                    window.Mercadopago.setPublishableKey("APP_USR-4f22958e-cccd-49ac-b52d-02ae9b9697a9");
                    window.Mercadopago.getIdentificationTypes();

                    let DadosCartao = {

                        cardNumber: Numero,
                        cardExpirationMonth: MesCartao,
                        cardExpirationYear: AnoCartao,
                        securityCode: CVV,
                        cardholderName: Titulo,
                        docType: "CPF",
                        docNumber: CPFFormatado

                    };


                    var hash = window.Mercadopago.createToken(DadosCartao, setCardTokenAndPay);

                    function setCardTokenAndPay(status, response) {
                        if (status == 200 || status == 201) {

                            let Usuario = "";

                            $.ajax({
                                url: "@Url.Action("GetDadosUsuario", "Comprar")",
                                method: "POST",
                                success: function (retorno) {
                                    console.log(retorno);
                                }
                            });

                            @*let CodigoCartao = response.id;

                            let dados = JSON.stringify({
                                token: CodigoCartao,
                                installments: 1,
                                transaction_amount: @Model.ValorRifa,
                                description: "Bilhete EiSorteei - " + @Model.Nome,
                                payment_method_id: "visa",
                                payer: {
                                    email: "vinicius_eugenio07@hotmail.com",
                                    identification: {
                                        number: CPFFormatado,
                                        type: "CPF"
                                    }
                                },
                                notification_url: "https://www.suaurl.com/notificacoes/",
                                sponsor_id: null,
                                binary_mode: false,
                                external_reference: "MP0001",
                                statement_descriptor: "MercadoPago",
                                additional_info: {
                                    items: [
                                        {
                                            id: "PR0001",
                                            title: "Bilhete",
                                            description: "Bilhete",
                                            picture_url: "https://http2.mlstatic.com/resources/frontend/statics/growth-sellers-landings/device-mlb-point-i_medium@2x.png",
                                            category_id: "Bilhete",
                                            quantity: 1,
                                            unit_price: @Model.ValorRifa
                                        }
                                    ],
                                    payer: {
                                        first_name: "Vinícius",
                                        last_name: "Eugênio",
                                        address: {
                                            zip_code: "37350-000",
                                            street_name: "Av. Alberane Cunha",
                                            street_number: 3003
                                        },
                                        registration_date: "2019-01-01T12:01:01.000-03:00",
                                        phone: {
                                            area_code: "011",
                                            number: "987654321"
                                        }
                                    },
                                    shipments: {
                                        receiver_address: {
                                            street_name: "Av das Nacoes Unidas",
                                            street_number: 3003,
                                            zip_code: "06233200",
                                            city_name: "Buzios",
                                            state_name: "Rio de Janeiro"
                                        }
                                    }
                                }
                            });

                            $.ajax({
                                url: "https://api.mercadopago.com/v1/payments",
                                method: 'POST',
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader('Authorization', 'Bearer APP_USR-5017428128263404-072015-ddd04542ab6288891aebac5789addf33-247787081');
                                },
                                data: dados,
                                success: function (retorno) {
                                    console.log(retorno);
                                },
                                error: function (retorno) {
                                    console.log(retorno);
                                }
                            });*@


                        }

                        else {
                            Swal.fire({
                                title: 'Cartão Inválido',
                                text: "Os dados do cartão informado não são válidos, por favor verifique seus dados e tente novamente!",
                                icon: 'error',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                cancelButtonText: 'Não',
                                confirmButtonText: 'OK'
                            });
                        }
                    };
                }

            });


        });
    </script>


}
