@{
    EiSorteei.Data.Usuario Usuario = (EiSorteei.Data.Usuario)@Session["Usuario"];
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EiSorteei</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="font" href="~/Content/fonts/Amiri-Bold.ttf" />
    <link rel="font" href="~/Content/fonts/Amiri-BoldItalic.ttf" />
    <link rel="font" href="~/Content/fonts/Amiri-Italic.ttf" />
    <link rel="font" href="~/Content/fonts/Amiri-Regular.ttf" />
    <link href="~/Content/slick.css" rel="stylesheet" />
    <link rel="shortcut icon"
          href="~/Imagens/47635a9c-62a5-49ca-aede-fda744a4b195-removebg-preview.png"
          type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

    <style>

        .navbar {
            font-size: 18px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding-bottom: 10px;
            background: #000000;
            min-height: 100px;
        }

        .main-nav {
            list-style-type: none;
            display: none;
        }

        .nav-links,
        .logo {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.7);
        }

        .main-nav li {
            text-align: center;
            margin: 15px auto;
            margin-top: 20px;
        }

        .logo {
            display: inline-block;
            font-size: 22px;
            margin-top: 10px;
            margin-left: 20px;
        }

        .navbar-toggle {
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.8);
            font-size: 24px;
        }

        .active {
            display: block;
        }

        @@media screen and (min-width: 768px) {

            .navbar {
                display: flex;
                justify-content: space-between;
                padding-bottom: 0;
                height: 70px;
                align-items: center;
            }

            .main-nav {
                display: flex;
                margin-right: 30px;
                flex-direction: row;
                justify-content: flex-end;
            }

                .main-nav li {
                    margin: 0;
                }

            .nav-links {
                margin-left: 40px;
            }

            .logo {
                margin-top: 0;
            }

            .navbar-toggle {
                display: none;
            }

            .logo:hover,
            .nav-links:hover {
                color: rgba(255, 255, 255, 1);
            }



            .dropbtn {
                background-color: #4CAF50;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
            }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                right: 0;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

                .dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }

                    .dropdown-content a:hover {
                        background-color: #f1f1f1;
                    }

            .dropdown:hover .dropdown-content {
                display: block;
            }

            .dropdown:hover .dropbtn {
                background-color: #3e8e41;
            }
        }

        #desk {
            display: flex;
        }

        .nav-item {
            color: #C1C1C1;
            transition: all 0 ease;
        }

            .nav-item a:hover {
                border-bottom: 4px solid #02E002;
            }

        #mobile {
            display: none;
        }

        @@media only screen and (max-width: 1000px) {
            .dropdown {
                background: #000000 !important;
                position: inherit !important;
            }

                .dropdown ul li a {
                    color: #fff !important;
                }

            #desk {
                display: none;
            }

            #mobile {
                display: flex;
            }
        }
    </style>

</head>

<body>
    <header>
        <nav class="navbar" id="desk">
            <span class="navbar-toggle js-navbar-toggle">
                <i class="fa fa-bars"></i>
            </span>
            <ul class="main-nav js-menu">
                <li>
                    <a href="@Url.Action("Index","Home")">
                        <img src="~/Imagens/Cópia de Logo Verde e Branco de Curso Preparatório (1).png" alt="Logo do Site" id="brand" style="width:80%;" />
                    </a>
                </li>
                <li class="nav-item" style="margin-top:30px;">
                    <a class="nav-link" href="#" style="color:#fff;">Política de Uso</a>
                </li>
                @if (Session["Usuario"] == null)
                {
                    <li class="nav-item" style="margin-top:30px;">
                        <a class="nav-link" href="/Admin/Vendedor/" style="color:#fff;">Quero ser um vendedor</a>
                    </li>
                }
            </ul>
            <div>
                @if (Session["Usuario"] != null)
                {
                    <span class="nav-link MeuPerfil" style="color:white; cursor:pointer; margin-right: 50px;">@(Usuario!=null?Usuario.Nome:"Login") <i class="fa fa-caret-down"></i></span>
                    <div class="dropdown" style="display: none;background: #000000;padding: 9px;border-radius: 10px;margin-top: 10px; z-index:1; position:fixed;">
                        <ul style="list-style-type: none;">
                            <li style="margin-top:30px;">
                                <a class="nav-link" href="@Url.Action("MeuPerfil","Usuario")" style="color:white;">Meu Perfil</a>
                            </li>
                            <li style="margin-top:30px;">
                                <a class="nav-link" href="@Url.Action("MinhasCompras","Usuario")" style="color:white;">Minhas Compras</a>
                            </li>
                            <li style="margin-top:30px;">
                                <a class="nav-link" href="@Url.Action("Logout","Usuario")" style="color:white;">Sair</a>
                            </li>
                        </ul>
                    </div>
                }

                else
                {
                    <a class="nav-link" style="color:white; cursor:pointer; margin-right: 50px;" href="@Url.Action("Index","Usuario")">Login</a>
                }

            </div>
        </nav>

        <nav class="navbar" id="mobile">
            <span class="navbar-toggle js-navbar-toggle">
                <i class="fa fa-bars"></i>
            </span>
            <ul class="main-nav js-menu">
                <li>
                    <a href="@Url.Action("Index","Home")">
                        <img src="~/Imagens/Cópia de Logo Verde e Branco de Curso Preparatório (1).png" alt="Logo do Site" id="brand" style="width:80%;" />
                    </a>
                </li>
                <li class="nav-item" style="margin-top:30px;">
                    <a class="nav-link" href="#" style="color:#fff;">Política de Uso</a>
                </li>
                <li class="nav-item" style="margin-top:30px;">
                    @if (Session["Usuario"] != null)
                    {
                        <span class="nav-link MeuPerfil" style="color:white; cursor:pointer; margin-right: 50px;">@(Usuario!=null?Usuario.Nome:"Login") <i class="fa fa-caret-down"></i></span>
                        <div class="dropdown" style="display: none;background: #000000;padding: 9px;border-radius: 10px;margin-top: 10px; z-index:1; position:fixed;">
                            <ul style="list-style-type: none;">
                                <li style="margin-top:30px;">
                                    <a class="nav-link" href="@Url.Action("MeuPerfil","Usuario")" style="color:white;">Meu Perfil</a>
                                </li>
                                <li style="margin-top:30px;">
                                    <a class="nav-link" href="@Url.Action("Logout","Usuario")" style="color:white;">Sair</a>
                                </li>
                            </ul>
                        </div>
                    }

                    else
                    {
                        <a class="nav-link" style="color:white; cursor:pointer; margin-right: 50px;" href="@Url.Action("Index","Usuario")">Login</a>
                    }
                </li>
            </ul>

        </nav>


    </header>

    @RenderBody()


    <style>

        #Quantidade {
            position: fixed;
            width: 100%;
            height: 150px;
            bottom: 0px;
            /* right: 112px; */
            background-color: white;
            color: #000;
            border-radius: 0px;
            font-size: 20px;
            z-index: 6;
            margin: unset;
            padding: 6px 5px;
        }

        #RifaEscolhida {
            background-color: rgb(37, 202, 23);
            border-radius: 24px;
            color: white;
            font-size: 18px;
            text-align: center;
            height: 30px;
            width: 40px;
            margin-top: 2px;
        }
    </style>

    <div id="Quantidade" style="padding-left:35px; display:none;">
        <div style="display:flex; flex-direction:row; flex-wrap:wrap; width:100%;">
            <div id="RifasEscolhidas" style="display:flex; flex-direction:row; flex-wrap:wrap; width:40%;"></div>

            <div class="text-center" id="ValorTotalRifa">
                <strong><span id="QuantidadeTotal"></span>x R$ <span id="ValorRifa"></span> = R$ <span id="ValorTotal"></span></strong>
                <div style="margin-top:10px;">
                    <button class="btn btn-success" id="AbrirModal">Finalizar Compra</button>
                </div>
            </div>

        </div>
    </div>
    <footer style="bottom: 0; width: 100%;margin-top: 30px;">
        <div class="row form-group" style="width:80%; margin:auto;">

            <div class="col-md-3 text-center">
                <h4><i class="fas fa-search"></i> Escolha uma Rifa</h4>
                <h5>Escolha o prêmio que gostaria de concorrer, verifique a descrição, regulamento do sorteio.</h5>
            </div>

            <div class="col-md-3 text-center">
                <h4><i class="fas fa-check-square"></i> Selecione seus Números</h4>
                <h5>Escolha quantos quiser! Quanto mais, mais chances de ganhar.</h5>
            </div>

            <div class="col-md-3 text-center">
                <h4><i class="fas fa-money-bill-alt"></i> Faça o Pagamento</h4>
                <h5>Escolha uma das formas de pagamento disponíveis, e realize o pagamento.</h5>
            </div>

            <div class="col-md-3 text-center">
                <h4><i class="fas fa-clock"></i> Aguarde o sorteio</h4>
                <h5>Agora é aguardar o sorteio, cruze os dedos e acompanhe a página para saber as novidades.</h5>
            </div>

        </div>
        <div class="center">
            <img src="~/Imagens/Cópia de Logo Verde e Branco de Curso Preparatório (1).png" alt="Dr. Marcelo Giovani" style="width: 220px; height: 84px;" />
            <p>Todos os direitos reservados</p>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/site.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>


    @RenderSection("Scripts", required: false)

    <div id="myModal2" class="modal">

        <!-- Modal content -->
        <div class="modal-content" style=" width: 57%; justify-content: flex-start; height: 50%;">
            <i class="fas fa-times" style="float:right; align-self:flex-end; cursor:pointer;" id="Fechar"></i>
            <h2>Atenção <i class="fas fa-exclamation"></i></h2>
            <p> Bilhetes Selecionadas: <span id="RifasSelecionadas"></span></p>

            @*<div class="form-group">

                    <strong>Forma de Pagamento</strong>
                </div>

                <div class="form-group">

                    <span class="NumeroRifa" style="padding:10px; font-size: 16px;">Cartão de Crédito</span>
                    <span class="NumeroRifa" style="padding:10px; font-size: 16px; background-color:lightgray;">Boleto</span>

                </div>

                <div class="form-group" style="width:80%; text-align:start;">

                    <div class="row">

                        <div class="col-md-12 form-group">
                            <strong>Número do Cartão</strong>
                            <input type="text" class="form-control" placeholder="Digite o número do seu cartão" id="NumeroCartao" />
                            <span class="ErroComprar" id="ErroNumero">Campo Obrigatório</span>
                        </div>

                        <div class="col-md-6 form-group">
                            <strong>Nome do Titular</strong>
                            <input type="text" class="form-control" placeholder="Digite o nome do Titulo do Cartão" id="TituloCartao" />
                            <span class="ErroComprar" id="ErroTitulo">Campo Obrigatório</span>
                        </div>

                        <div class="col-md-6 form-group">
                            <strong>CPF</strong>
                            <input type="text" class="form-control" placeholder="Digite o CPF do dono do Cartão" id="CPFCartao" />
                            <span class="ErroComprar" id="ErroCPF">Campo Obrigatório</span>
                        </div>

                        <div class="form-group col-md-6">
                            <strong>Data de Vencimento</strong>
                            <input type="text" class="form-control" placeholder="Digite a data de Vencimento do Cartão, Ex: 11/@DateTime.Now.Year.ToString()[2]@DateTime.Now.Year.ToString()[3]" id="DataCartao" />
                            <span class="ErroComprar" id="ErroData">Campo Obrigatório</span>
                        </div>

                        <div class="form-group col-md-6">
                            <strong>CVV</strong>
                            <input type="text" class="form-control" placeholder="Digite o nome do Titulo do Cartão" maxlength="3" id="CVVCartao" />
                            <span class="ErroComprar" id="ErroCVV">Campo Obrigatório</span>
                        </div>

                        <div class="form-group col-md-12">
                            <strong>Código do Vendedor</strong>
                            <input type="text" class="form-control" placeholder="Digite o Código do Vendedor" maxlength="8" id="CodigoVendedor" />
                            <span class="ErroComprar" id="ErroComprador">Campo Obrigatório</span>
                        </div>

                    </div>

                </div>*@

            <div class="row form-group">
                <div style="margin-top:12px;" class="col-md-6">
                    <p><strong>Valor Total: R$ <span id="ValorFinal"></span></strong></p>
                    <button class="btn btn-success" id="EfetuarPagamento" style="width:50%;">Efetuar Pagamento</button>
                </div>

                <div style="width:20%;" id="MercadoPagoImagem" class="col-md-6">
                    <img src="~/Imagens/pagamento-seguro.png" style="width:100%;" />
                </div>
            </div>



        </div>

    </div>
</body>
</html>

<script>

    $("#login").click(function () {
        let url = "@(Usuario==null? Url.Action("Index", "Usuario") : Url.Action("Details","Usuario"))";
        window.location.href = url;
    });

    $("#login").click(function () {
        let url = "@(Usuario==null? Url.Action("Index", "Usuario") : Url.Action("Details","Usuario"))";
        window.location.href = url;
    });


    $(".js-navbar-toggle").click(function () {

        $(".js-menu").toggle();

    });

    $(".MeuPerfil").click(function () {
        $(".dropdown").toggle();
    });

</script>