@{
    EiSorteei.Data.Usuario Usuario = (EiSorteei.Data.Usuario)@Session["Usuario"];
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EiSorteei</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="font" href="~/Content/fonts/Amiri-Bold.ttf" />
    <link rel="font" href="~/Content/fonts/Amiri-BoldItalic.ttf" />
    <link rel="font" href="~/Content/fonts/Amiri-Italic.ttf" />
    <link rel="font" href="~/Content/fonts/Amiri-Regular.ttf" />
    <link href="~/Content/slick.css" rel="stylesheet" />
    <link href="" rel="stylesheet" />
    <link rel="shortcut icon"
          href="~/Images/favicon.png"
          type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg" style="background-color:black; position:fixed;width: 100%; z-index:1;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-align-justify" style="color:white;"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a href="@Url.Action("Index","Home")">
                    <img src="~/Imagens/Cópia de Logo Verde e Branco de Curso Preparatório (1).png" alt="Logo do Site" id="brand" style="width:80%;" />
                </a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:#fff;">Política de Uso</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a href="@Url.Action("Index","Usuario")" class="nav-link" style="color:#fff;">@(Usuario!=null?Usuario.Nome:"Login")</a>
                </form>
            </div>
        </nav>


    </header>

    @RenderBody()



    <section class="first__footer">
        <div class="center container__footer">
            <h1>Receba Novidades</h1>
            <div class="Yellow_line"></div>
            <p>Você gosta desse conteúdo e gostaria de ser avisado sobre nossas atualizações? Deixe seu e-mail para receber nossos alertas.</p>
            <form class="box__nov">
                <div class="nov_cont">
                    <input type="text" placeholder="Digite seu e-mail" id="EmailDigitado" />
                    <span class="erroform erronov">E-mail inválido</span>
                </div>
                <button type="button" id="novidades-btn-2">Enviar</button>
            </form>

            <h1>Siga nas redes sociais</h1>
            <div class="Yellow_line"></div>

            <div class="redesociais__nov">
                <a href="https://www.facebook.com/Ei-Sorteei-109594700891331/?view_public_for=109594700891331" target="_blank" class="redesocial__nov"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/ei_sorteei/" target="_blank" class="redesocial__nov"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </section>
    <footer style="bottom: 0; width: 100%;margin-top: 30px;">
        <div class="row form-group" style="width:80%; margin:auto;">

            <div class="col-md-3 text-center">
                <h4><i class="fas fa-search"></i> Escolha uma Rifa</h4>
                <h5>Escolha o prêmio que gostaria de concorrer, verifique a descrição, regulamento do sorteio.</h5>
            </div>

            <div class="col-md-3 text-center">
                <h4><i class="fas fa-check-square"></i> Selecione seus Números</h4>
                <h5>Escolha quantos quiser! Quanto mais, mais chances de ganhar.</h5>
            </div>

            <div class="col-md-3 text-center">
                <h4><i class="fas fa-money-bill-alt"></i> Faça o Pagamento</h4>
                <h5>Escolha uma das formas de pagamento disponíveis, e realize o pagamento.</h5>
            </div>

            <div class="col-md-3 text-center">
                <h4><i class="fas fa-clock"></i> Aguarde o sorteio</h4>
                <h5>Agora é aguardar o sorteio, cruze os dedos e acompanhe a página para saber as novidades.</h5>
            </div>

        </div>
        <div class="center">
            <img src="~/Imagens/Cópia de Logo Verde e Branco de Curso Preparatório (1).png" alt="Dr. Marcelo Giovani" style="width: 220px; height: 84px;" />
            <p>Todos os direitos reservados</p>
        </div>
    </footer>

    <a href="https://wa.me/5524999583321" class="float" target="_blank">
        <i class="fab fa-whatsapp" my-float"></i>
    </a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/site.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    @RenderSection("Scripts", required: false)

    <div id="myModal2" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <img src="" alt="" />
            <strong>Email Cadastrado!</strong>
            <p>Obrigado pelo seu cadastro.</p>
            <a class="entendi2" style="cursor:pointer;">Entendi</a>
        </div>

    </div>
</body>
</html>

<script>

    $('.carousel').slick({
        autoplay: true,
        autoplaySpeed: 4000,
        nextArrow: '#next',
        prevArrow: '#prev'
    });

    $("#login").click(function () {
        let url = "@(Usuario==null? Url.Action("Index", "Usuario") : Url.Action("Details","Usuario"))";
        window.location.href = url;
    });
</script>