@{
    EiSorteei.Data.Usuario Usuario = (EiSorteei.Data.Usuario)@Session["Usuario"];
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EiSorteei</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="font" href="~/Content/fonts/Amiri-Bold.ttf" />
    <link rel="font" href="~/Content/fonts/Amiri-BoldItalic.ttf" />
    <link rel="font" href="~/Content/fonts/Amiri-Italic.ttf" />
    <link rel="font" href="~/Content/fonts/Amiri-Regular.ttf" />
    <link href="~/Content/slick.css" rel="stylesheet" />
    <link href="" rel="stylesheet" />
    <link rel="shortcut icon"
          href="~/Imagens/favicon.ico"
          type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>


<style>

    .navbar {
        font-size: 18px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 10px;
        background: #000000;
        min-height: 100px;
    }

    .main-nav {
        list-style-type: none;
        display: none;
    }

    .nav-links,
    .logo {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7);
    }

    .main-nav li {
        text-align: center;
        margin: 15px auto;
        margin-top: 20px;
    }

    .logo {
        display: inline-block;
        font-size: 22px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .navbar-toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.8);
        font-size: 24px;
    }

    .active {
        display: block;
    }

    @@media screen and (min-width: 768px) {

        .navbar {
            display: flex;
            justify-content: space-between;
            padding-bottom: 0;
            height: 70px;
            align-items: center;
        }

        .main-nav {
            display: flex;
            margin-right: 30px;
            flex-direction: row;
            justify-content: flex-end;
        }

            .main-nav li {
                margin: 0;
            }

        .nav-links {
            margin-left: 40px;
        }

        .logo {
            margin-top: 0;
        }

        .navbar-toggle {
            display: none;
        }

        .logo:hover,
        .nav-links:hover {
            color: rgba(255, 255, 255, 1);
        }



        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            right: 0;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    }

    #desk {
        display: flex;
    }

    #mobile {
        display: none;
    }

    @@media only screen and (max-width: 1000px) {
        .dropdown {
            background: #000000 !important;
            position: inherit !important;
        }

            .dropdown ul li a {
                color: #fff !important;
            }

        #desk {
            display: none;
        }

        #mobile {
            display: flex;
        }
    }
</style>
<body>

    <header>
        <nav class="navbar" id="desk">
            <span class="navbar-toggle js-navbar-toggle">
                <i class="fa fa-bars"></i>
            </span>
            <ul class="main-nav js-menu">
                <li>
                    <a href="@Url.Action("Index","Home")">
                        <img src="~/Imagens/Cópia de Logo Verde e Branco de Curso Preparatório (1).png" alt="Logo do Site" id="brand" style="width:80%;" />
                    </a>
                </li>
                <li class="nav-item" style="margin-top:30px;">
                    <a class="nav-link" href="#" style="color:#fff;">Política de Uso</a>
                </li>
                @if (Session["Usuario"] == null)
                {
                    <li class="nav-item" style="margin-top:30px;">
                        <a class="nav-link" href="/Admin/Vendedor/" style="color:#fff;">Quero ser um vendedor</a>
                    </li>
                }
            </ul>
            <div>
                @if (Session["Usuario"] != null)
                {
                    <span class="nav-link MeuPerfil" style="color:white; cursor:pointer; margin-right: 50px;">@(Usuario!=null?Usuario.Nome:"Login") <i class="fa fa-caret-down"></i></span>
                    <div class="dropdown" style="display: none;background: #000000;padding: 9px;border-radius: 10px;margin-top: 10px; z-index:1; position:fixed;">
                        <ul style="list-style-type: none;">
                            <li style="margin-top:30px;">
                                <a class="nav-link" href="@Url.Action("MeuPerfil","Usuario")" style="color:white;">Meu Perfil</a>
                            </li>
                            <li style="margin-top:30px;">
                                <a class="nav-link" href="@Url.Action("MinhasCompras","Usuario")" style="color:white;">Minhas Compras</a>
                            </li>
                            <li style="margin-top:30px;">
                                <a class="nav-link" href="@Url.Action("Logout","Usuario")" style="color:white;">Sair</a>
                            </li>
                        </ul>
                    </div>
                }

                else
                {
                    <a class="nav-link" style="color:white; cursor:pointer; margin-right: 50px;" href="@Url.Action("Index","Usuario")">Login</a>
                }

            </div>
        </nav>

        <nav class="navbar" id="mobile">
            <span class="navbar-toggle js-navbar-toggle">
                <i class="fa fa-bars"></i>
            </span>
            <ul class="main-nav js-menu">
                <li>
                    <a href="@Url.Action("Index","Home")">
                        <img src="~/Imagens/Cópia de Logo Verde e Branco de Curso Preparatório (1).png" alt="Logo do Site" id="brand" style="width:80%;" />
                    </a>
                </li>
                <li class="nav-item" style="margin-top:30px;">
                    <a class="nav-link" href="#" style="color:#fff;">Política de Uso</a>
                </li>
                <li class="nav-item" style="margin-top:30px;">
                    @if (Session["Usuario"] != null)
                    {
                        <span class="nav-link MeuPerfil" style="color:white; cursor:pointer; margin-right: 50px;">@(Usuario!=null?Usuario.Nome:"Login") <i class="fa fa-caret-down"></i></span>
                        <div class="dropdown" style="display: none;background: #000000;padding: 9px;border-radius: 10px;margin-top: 10px; z-index:1; position:fixed;">
                            <ul style="list-style-type: none;">
                                <li style="margin-top:30px;">
                                    <a class="nav-link" href="@Url.Action("MeuPerfil","Usuario")" style="color:white;">Meu Perfil</a>
                                </li>
                                <li style="margin-top:30px;">
                                    <a class="nav-link" href="@Url.Action("Logout","Usuario")" style="color:white;">Sair</a>
                                </li>
                            </ul>
                        </div>
                    }

                    else
                    {
                        <a class="nav-link" style="color:white; cursor:pointer; margin-right: 50px;" href="@Url.Action("Index","Usuario")">Login</a>
                    }
                </li>
            </ul>

        </nav>


    </header>

    @RenderBody()



    <section class="first__footer">
        <div class="center container__footer">
            <h1>Receba Novidades</h1>
            <div class="Yellow_line"></div>
            <p>Você gosta desse conteúdo e gostaria de ser avisado sobre nossas atualizações? Deixe seu e-mail para receber nossos alertas.</p>
            <form class="box__nov">
                <div class="nov_cont">
                    <input type="text" placeholder="Digite seu e-mail" id="EmailDigitado" />
                    <span class="erroform erronov">E-mail inválido</span>
                </div>
                <button type="button" id="novidades-btn-2">Enviar</button>
            </form>

            <h1>Siga nas redes sociais</h1>
            <div class="Yellow_line"></div>

            <div class="redesociais__nov">
                <a href="https://www.facebook.com/Ei-Sorteei-109594700891331/?view_public_for=109594700891331" target="_blank" class="redesocial__nov"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/ei_sorteei/" target="_blank" class="redesocial__nov"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </section>
    <footer style="bottom: 0; width: 100%;margin-top: 30px;">
        <div class="row form-group" style="width:80%; margin:auto;">

            <div class="col-md-3 text-center">
                <h4><i class="fas fa-search"></i> Escolha uma Rifa</h4>
                <h5>Escolha o prêmio que gostaria de concorrer, verifique a descrição, regulamento do sorteio.</h5>
            </div>

            <div class="col-md-3 text-center">
                <h4><i class="fas fa-check-square"></i> Selecione seus Números</h4>
                <h5>Escolha quantos quiser! Quanto mais, mais chances de ganhar.</h5>
            </div>

            <div class="col-md-3 text-center">
                <h4><i class="fas fa-money-bill-alt"></i> Faça o Pagamento</h4>
                <h5>Escolha uma das formas de pagamento disponíveis, e realize o pagamento.</h5>
            </div>

            <div class="col-md-3 text-center">
                <h4><i class="fas fa-clock"></i> Aguarde o sorteio</h4>
                <h5>Agora é aguardar o sorteio, cruze os dedos e acompanhe a página para saber as novidades.</h5>
            </div>

        </div>
        <div class="center">
            <img src="~/Imagens/Cópia de Logo Verde e Branco de Curso Preparatório (1).png" alt="Dr. Marcelo Giovani" style="width: 220px; height: 84px;" />
            <p>Todos os direitos reservados</p>
        </div>
    </footer>

    <a href="https://wa.me/5524999583321" class="float" target="_blank">
        <i class="fab fa-whatsapp" my-float"></i>
    </a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/site.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    @RenderSection("Scripts", required: false)

    <div id="myModal2" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <img src="" alt="" />
            <strong>Email Cadastrado!</strong>
            <p>Obrigado pelo seu cadastro.</p>
            <a class="entendi2" style="cursor:pointer;">Entendi</a>
        </div>

    </div>
</body>
</html>

<script>

    $('.carousel').slick({
        autoplay: true,
        autoplaySpeed: 4000,
        nextArrow: '#next',
        prevArrow: '#prev'
    });

    $("#login").click(function () {
        let url = "@(Usuario==null? Url.Action("Index", "Usuario") : Url.Action("Details","Usuario"))";
        window.location.href = url;
    });


    $(".js-navbar-toggle").click(function () {

        $(".js-menu").toggle();

    });

    $(".MeuPerfil").click(function () {
        $(".dropdown").toggle();
    });
</script>