@{
    EiSorteei.Data.Usuario Usuario = (EiSorteei.Data.Usuario)@Session["Usuario"];
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EiSorteei</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="font" href="~/Content/fonts/Amiri-Bold.ttf" />
    <link rel="font" href="~/Content/fonts/Amiri-BoldItalic.ttf" />
    <link rel="font" href="~/Content/fonts/Amiri-Italic.ttf" />
    <link rel="font" href="~/Content/fonts/Amiri-Regular.ttf" />
    <link href="~/Content/slick.css" rel="stylesheet" />
    <link rel="shortcut icon"
          href="~/Images/favicon.png"
          type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

</head>
<body>
    <header class="header__container">
        <div class="center header-flex">
            <a href="@Url.Action("Index","Home")" class="logo__nav">
                <img src="~/Imagens/Cópia de Logo Verde e Branco de Curso Preparatório (1).png" alt="Ei Sorteei" />
            </a>

            <div class="burguer__container">
                <div class="menu__burguer" id="menuToggle">
                    <input type="checkbox" />

                    <span></span>
                    <span></span>
                    <span></span>

                    <ul id="menu">
                        @if (Session["Usuario"] != null)
                        {
                            <a href="@Url.Action("Index","Home")"><li>@Usuario.Nome @Usuario.SobreNome</li></a>
                        }
                        <a href="@Url.Action("Index","Home")"><li>Home</li></a>
                        @if (Session["Usuario"] != null)
                        {
                            <a href="@Url.Action("Index","Home")"><li>Sair</li></a>
                        }

                        else
                        {
                            <a href="@Url.Action("Index","Usuario")"><li>Entrar</li></a>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()

    <footer style="bottom: 0; width: 100%;margin-top: 30px;">
        <div class="center">
            <img src="~/Imagens/Cópia de Logo Verde e Branco de Curso Preparatório (1).png" alt="Dr. Marcelo Giovani" style="width: 220px; height: 84px;" />
            <p>Todos os direitos reservados</p>
        </div>
    </footer>

    <a href="https://wa.me/5524999583321" class="float" target="_blank">
        <i class="fab fa-whatsapp" my-float"></i>
    </a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/site.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>


    @RenderSection("Scripts", required: false)

    <div id="myModal2" class="modal">

        <!-- Modal content -->
        <div class="modal-content" style="width:80%; justify-content:flex-start; height:89%;">
            <i class="fas fa-times" style="float:right; align-self:flex-end; cursor:pointer;" id="Fechar"></i>
            <div class="form-group">

                <strong>Forma de Pagamento</strong>
            </div>

            <div class="form-group">

                <span class="NumeroRifa" style="padding:10px; font-size: 16px;">Cartão de Crédito</span>
                <span class="NumeroRifa" style="padding:10px; font-size: 16px; background-color:lightgray;">Boleto</span>

            </div>

            <div class="form-group">
                <strong>Número do Bilhete: <span id="NumeroRifa"></span></strong>
            </div>

            <div class="form-group" style="width:80%; text-align:start;">

                <div class="row">

                    <div class="col-md-12 form-group">
                        <strong>Número do Cartão</strong>
                        <input type="text" class="form-control" placeholder="Digite o número do seu cartão" id="NumeroCartao" />
                        <span class="ErroComprar" id="ErroNumero">Campo Obrigatório</span>
                    </div>

                    <div class="col-md-6 form-group">
                        <strong>Nome do Titular</strong>
                        <input type="text" class="form-control" placeholder="Digite o nome do Titulo do Cartão" id="TituloCartao" />
                        <span class="ErroComprar" id="ErroTitulo">Campo Obrigatório</span>
                    </div>

                    <div class="col-md-6 form-group">
                        <strong>CPF</strong>
                        <input type="text" class="form-control" placeholder="Digite o CPF do dono do Cartão" id="CPFCartao" />
                        <span class="ErroComprar" id="ErroCPF">Campo Obrigatório</span>
                    </div>

                    <div class="form-group col-md-6">
                        <strong>Data de Vencimento</strong>
                        <input type="text" class="form-control" placeholder="Digite a data de Vencimento do Cartão, Ex: 11/@DateTime.Now.Year.ToString()[2]@DateTime.Now.Year.ToString()[3]" id="DataCartao" />
                        <span class="ErroComprar" id="ErroData">Campo Obrigatório</span>
                    </div>

                    <div class="form-group col-md-6">
                        <strong>CVV</strong>
                        <input type="text" class="form-control" placeholder="Digite o nome do Titulo do Cartão" maxlength="3" id="CVVCartao" />
                        <span class="ErroComprar" id="ErroCVV">Campo Obrigatório</span>
                    </div>

                    <div class="form-group col-md-12">
                        <strong>Código do Vendedor</strong>
                        <input type="text" class="form-control" placeholder="Digite o Código do Vendedor" maxlength="8" id="CodigoVendedor" />
                        <span class="ErroComprar" id="ErroComprador">Campo Obrigatório</span>
                    </div>

                    <div class="form-group col-md-12">
                        <button class="btn btn-success" id="EfetuarCompra">Efetuar Compra</button>
                    </div>

                </div>

            </div>
        </div>

    </div>
</body>
</html>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176121926-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-176121926-1');
</script>