@model EiSorteei.Data.CategoriaProduto

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm("Create", "CategoriasProdutos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="display:flex; align-items:center; justify-content:center; margin-top:50px;">
        <div class="card" style="width:1200px;">

            <div class="card-header">
                <h3>Cadastrar Nova Categoria</h3>
            </div>


            <div class="card-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                </div>


                <div class="form-group">
                    <button class="btn btn-success">Cadastrar</button>
                </div>

            </div>

        </div>
    </div>

}
